<!DOCTYPE html>
<body>
<main>
<h3>API DOCUMENTATION</h3>
<pre>
<strong>GET /GetAppList : returns -> list[dict]:</strong>
parameters:
    *tags       : [comma seperated tag ids] or None,
    *genres     : [comma seperated genre ids] or None,
    *categories : [comma seperated category ids] or None,
    *order      : [comma seperated column_name,direction] or None,
    *coming_soon: 0, 1 or None
    *index      : int
    *limit      : int
(Note: * means optional)

example :

Tags Example :
[
    {
        id    : 10,
        name  : "example",
        votes : 300
    },
]
Genres And Categories Example:
[
    {id: name},
]
</pre>
<h4>Interfaces</h4>
<pre>
AppSnippet():
    app_id  : int
    name    : str
    price   : int

    release_date: str
    coming_soon : bool

    positive_reviews: int
    negative_reviews: int
    owner_count     : int

    header_image: str

    windows : bool
    mac     : bool
    linux   : bool

    tags        : list[dict]
    genres      : list[dict]
    categories  : list[dict]


AppDetails():
    app_id  : int
    name    : str
    price   : int

    release_date: str
    coming_soon : bool

    developers: list[str]
    publishers: list[str]

    tags        : list[dict]
    genres      : dict
    categories  : dict

    owner_count     : int
    positive_reviews: int
    negative_reviews: int

    about_the_game      : str
    short_description   : str
    detailed_description: str

    website     : str
    header_image: str
    screenshots : list[dict]

    languages: str

    windows : bool
    mac     : bool
    linux   : bool

</pre>

</main>
</body>
